<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% apply inline_css(source('@email_css/email.css')) %}
    
        <h1>Bonjour {{username}}</h1>
        <p>Vous avez fait une demande de réinitialisation de mot de passe.</p>
        <p>Pour finaliser cette ddemande, veuillez cliquer sur le lien ci-dessous</p>
        <a href="{{ url('reset-password', {token: token}) }}">Changer mon mot de passe</a>

    {% endapply %}
</body>
</html>