<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% apply inline_css(source('@email_css/welcome.css')) %}
    
        <h1>Bienvenu {{ username }} sur Quora</h1>
        <p>Vous pouvez dès à présent poser vos questions sur Quora !</p>
        <a href="{{ url('question_form') }}">Posez votre question</a>

    {% endapply %}
</body>
</html>